::ng-deep .mat-mdc-snack-bar-container.snack-bar-create {
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: white;
  }
  
  ::ng-deep .mat-mdc-snack-bar-container.snack-bar-edit {
    --mdc-snackbar-container-color: yellow;
    --mdc-snackbar-supporting-text-color: black;
  }
  
  ::ng-deep .mat-mdc-snack-bar-container.snack-bar-delete {
    --mdc-snackbar-container-color: red;
    --mdc-snackbar-supporting-text-color: white;
  }
  